<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyuan.mapper.PetMapper">
    <update id="update" parameterType="com.shuyuan.entity.Pet">
        update pet
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper> 